<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      /* Add some styles to make the email look better */
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      }
      h1 {
        text-align: center;
        color: #333;
      }
      p {
        margin-top: 1em;
        margin-bottom: 1em;
      }
      .button {
        display: block;
        background-color: #4caf50;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        text-decoration: none;
        padding: 10px;
        margin: 20px auto;
        width: 200px;
      }
      .button:hover {
        background-color: #3e8e41;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to BrokersApp!</h1>
      <p>Hi <%= @user.email %>,</p>
      <p>Thank you for signing up to BrokersApp. We're excited to have you onboard!</p>
      <p>If you have any questions, please don't hesitate to get in touch.</p>
      <a href="<%= @url %>" class="button">Get started</a>
      <p>Best regards,</p>
      <p>BrokersApp team</p>
    </div>
  </body>
</html>
