// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Login form
form.new_user {
  width: 40%;
  margin:0 auto;
}

.btn.login, .btn.register {
  width: 100%;
}

@media (max-width: 768px) {
  form.new_user {
    width: 60%;
    margin:0 auto;
  }
}