// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Login form
form.new_user, form.edit_user {
  width: 40%;
  margin:0 auto;
}

form .actions {
  margin:20px 10px;
}

.btn.login, .btn.register, .btn.update-password {
  width: 100%;
}

#map {
  height: 600px;
  width: 95%;
  margin: 20px auto;
}

  
.clients-container, .agents-container  {
  margin-top: 20px;
  .list {
    width: 90%;
    margin: 20px auto;    
  }
  h3 {
    text-align: center;
    margin-bottom: 50px;

  }
}

.profile-form {
  .photo {
    img{
      width: 20%;
    }
  } 
}

@media (max-width: 768px) {
  form.new_user {
    width: 80%;
    margin:0 auto;
  }
}